# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# anything else I don't want
*.ilk
*.pdb
*.iobj
*.ipdb
*.sln
*.i
*.enc
*.log
*.tlog
*.lastbuildstate
*.idb
*.asm
*.cod
*.vcxproj
*.filters
*.user
*.cpp
*.suo
*.db
*.opendb
*.ipch